<ion-content color="dark">


    <ion-slides class="mainSlide" #slidePrincipal>

        <ion-slide>

            <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
                <ion-grid fixed>

                    <ion-row>
                        <ion-col>
                            <img src="/assets/logoGym.png">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>

                            <ion-list>

                                <ion-item color="dark">
                                    <ion-label color="light">Usuario</ion-label>
                                    <ion-input (keyup.enter)="login(fLogin)" name="usuario" type="loginUser" [(ngModel)]="loginUser.userName" required></ion-input>
                                </ion-item>

                                <ion-item color="dark">
                                    <ion-label color="light">Contraseña</ion-label>
                                    <ion-input name="password" type="password" [(ngModel)]="loginUser.password" required></ion-input>
                                </ion-item>

                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-button type="submit" color="primary" shape="round">
                                Ingresar
                            </ion-button>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </form>



        </ion-slide>



    </ion-slides>



</ion-content>